<?xml version="1.0"?>

<launch>
  <arg name="model_name" default="bar_lifting_two_firefly"/>
  <arg name="namespace" default="$(arg model_name)"/>
  <arg name="model" default="$(find collaborative_load_lifting)/urdf/$(arg model_name)_base.xacro"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg model_name)"/>
  <arg name="wait_to_record_bag" default="false"/>
  <arg name="enable_mavlink_interface" default="false"/>

  <arg name="bar_x0" default="0.0"/> <!-- [m] -->
  <arg name="bar_y0" default="0.0"/> <!-- [m] -->
  <arg name="bar_z0" default="0.2"/> <!-- [m] -->
  
  <!-- Cable and payload characteristics -->
  <arg name="cable_length" default="1"/> <!-- [m] -->
  <arg name="cable_radius" default="0.01"/> <!-- [m] -->

  <arg name="payload_mass" default="1"/> <!-- [kg] -->

  <arg name="bar_length" default="1"/> <!-- [m] -->
  <arg name="bar_radius" default="0.02"/> <!-- [m] -->

  <arg name="bar_anchor_point1" default="0.5"/> <!-- [m] -->
  <arg name="bar_anchor_point2" default="-0.5"/> <!-- [m] -->

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    enable_logging:=$(arg enable_logging)
    enable_ground_truth:=$(arg enable_ground_truth)
    enable_mavlink_interface:=$(arg enable_mavlink_interface)
    log_file:=$(arg log_file)
    wait_to_record_bag:=$(arg wait_to_record_bag)
    model_name:=$(arg model_name)
    namespace:=$(arg namespace)
    cable_length:=$(arg cable_length)
    cable_radius:=$(arg cable_radius)
    payload_mass:=$(arg payload_mass)
    bar_length:=$(arg bar_length)
    bar_radius:=$(arg bar_radius)
    bar_anchor_point1:=$(arg bar_anchor_point1)
    bar_anchor_point2:=$(arg bar_anchor_point2)
    "
  />

  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg bar_x0)
         -y $(arg bar_y0)
         -z $(arg bar_z0)
         -R 0
         -P 0.1
         -Y 0.4
         -J $(arg namespace)/bar_anchor_point_1/bar_hinge_y 0.0
         -J $(arg namespace)/bar_anchor_point_1/bar_hinge_x 0.0
         -J $(arg namespace)/firefly_1/base_link/hinge_y 0.0
         -J $(arg namespace)/firefly_1/base_link/hinge_x 0.0
         -model $(arg namespace)"
   respawn="false" output="screen">
  </node>
<!--  See effect of each joint
         -J $(arg namespace)/bar_anchor_point_1/bar_hinge_y 0.3
         -J $(arg namespace)/bar_anchor_point_1/bar_hinge_x 0.3
         -J $(arg namespace)/firefly_1/base_link/hinge_y 0.3
         -J $(arg namespace)/firefly_1/base_link/hinge_x 0.3
 -->
</launch>
